html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
canvas {
  display: block;
}
#canvas_container {
  position: absolute;
  left: 50%;
}

.titles {
  display: block ;
}

#text_container {
  color: rgb(240, 240, 240);
  position: absolute;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
}
a:link {
  color: rgb(165, 208, 253);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(114, 182, 255);
  background-color: transparent;
  text-decoration: none;
}